<!DOCTYPE html>
<html>
  <head>
    <title>c3PieChart</title>
    <link rel="icon" 
          type="image/png" 
          href="/logo_pure.png">    
    <link href="/stylesheets/style.css" rel="stylesheet" media="screen">    
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    
    <link rel='stylesheet' href='/stylesheets/c3.css' />
    <script type="text/javascript">
    </script>

  </head>
  <body>
    <div id = "divNav">
        <div class="container">
            <div class="row"  id = "">
                <div class="col-xs-1 col-sm-1 col-md-1 col-md-lg-1">

                    <img id="imglogo" src="/images/logo3.png">
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-md-lg-11">
                    <div style="margin-top: 48px; ">

                          <a class= "navFunc" style="right:525px;">教程 </a>
                          <a class= "navFunc" style="right:470px;">订单 </a>
                          <a class= "navFunc " style="right:415px;">流程 </a>
                          <a class= "navFunc " style="right:360px;">计划 </a>
                          <a class= "navFunc" style="right:240px;">实时时长统计 </a>
                          <a class= "navFunc" style="right:120px;color: rgb(100,100,100);">实时比重统计 </a>
                          <a class= "navFunc" style="right:70px;">导出 </a>
                          <a class= "navFunc" style="right:20px;">关于 </a>
                     </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row"  id = "row_container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12" style="margin-top:20px;">
                    <div id="lblTableTitleText" style="font-size:23px;padding-bottom: 15px;"> 生产环节时间对比统计图 </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12" style="margin-top:5px;">

                <div id="chart" style=""></div>
            </div>

<!--             <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12" style="margin-top: 50px;text-align:center;">
                <button type="button" class="btn btn-default btn-sm" style="width: 120px;" onclick= "showAddPlanIndex()">叠加</button>
                <button type="button" class="btn btn-default btn-sm" style="width: 120px;" onclick = "deleteRow()">不叠加</button>
            </div> -->
        </div>
    </div>
    <div class="container" style="margin-bottom: 100px;">
        <div class="row"  id = "row_container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12" style="">

                <!-- <div  style="font-size: 24px; color: rgb(200,200,200); text-align: center; border-top: 1px solid rgb(240,240,240); padding-top: 10px; padding-bottom: 20px; margin-top: 30px;"> 说明 </div> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12" style="font-size: 16px; color: rgb(180,180,180); text-align: center;margin-top: 30px;border-top: 1px solid rgb(240,240,240); padding-top: 30px;">
                    实时统计所有已经发生的生产批次中，各个环节所耗费的时间在各环节时间总和中的比重
                </div>
            </div>
        </div>
    </div>    
  </body>
<script type="text/javascript" src = "/javascripts/jquery.js"></script>
<script type="text/javascript" src = "/javascripts/d3.js"></script>
<script type="text/javascript" src = "/javascripts/c3.js"></script>
<script type="text/javascript" src = "/javascripts/underscore.js"></script>

<script type="text/javascript">
    var timeTicket;
    var chart;
    var columns = [];
    var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length) + '';

    $(document).ready(function(){
        $.get('../productionData4PieChart', function(data){
            data = JSON.parse(data);
            console.dir(data);
            chart = c3.generate({
                data: {
                    // iris data from R
                    columns: data.columns,
                    type : 'pie',
                },
                pie: {
                    onclick: function (d, i) { console.log(d, i); },
                    onmouseover: function (d, i) { console.log(d, i); },
                    onmouseout: function (d, i) { console.log(d, i); }
                }
            });   
            createWebSocket();
        })
     



    })
    function onMessage(evt) {
        var _cmd = JSON.parse(evt.data);
        console.log(_cmd);
        var productionData = _cmd.productionData;
        _.each(productionData, function(_data){
            var existedColumn = _.find(columns, function(_column){return _column[0] == _data.name;})
            if(existedColumn == null){
                columns.push([_data.name, _data.value])
            }else{
                existedColumn[1] = _data.value;
            }            
        })
        chart.load({columns: columns});
    }  
    function createWebSocket() {
        websocket = new WebSocket(wsUri);
        websocket.onopen = function (evt) { onOpen(evt) };
        websocket.onclose = function (evt) { onClose(evt) };
        websocket.onmessage = function (evt) { onMessage(evt) };
        websocket.onerror = function (evt) { onError(evt) };
    }
       
    function onOpen(evt) {
      console.log('websocket open');
      websocket.send('');
    }
    function onClose(evt) {
      console.warn('websocket closed');
    }
    function onError(evt) {
      console.error('websocket error');
    }  
/*
    setTimeout(function () {
        chart.load({
            columns: [
                ['环节一', 80],
                ['环节二', 100],
                ['环节三', 30],
                ['环节四', 60],
            ]
        });
    }, 3500);

    setTimeout(function () {
        chart.unload('data1');
        chart.unload('data2');
    }, 6500);
      */     
    </script>


</html>