<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>生产计划设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" 
          type="image/png" 
          href="/logo_pure.png">
    <!-- Loading Bootstrap -->
    <!-- <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <!-- <link href="/stylesheets/headroom.css" rel="stylesheet" media="screen">     -->
    <link href="/stylesheets/style.css" rel="stylesheet" media="screen">    
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    
    <link href="/dataTable/jquery.dataTables.css" rel="stylesheet" media="screen">    
    <style type="text/css">

          td.highlight {
              background-color: rgba(0,256,0, 0.1) !important;
          }
          tr.highlight{
              background-color: rgba(0,256,0, 0.1) !important;

          }


      #lblTip{
        margin-top: 30px; text-align: center; font-size: 30px; color: red; margin-bottom: 20px;
      }
      #dtProcess{
        text-align: center;
      }
      th{
        text-align: center;
      }
      .btn{
        width: 100px;
      }
 
    </style>
    <!-- // <script data-main="javascripts/main" src="/javascripts/require.js"></script> -->
    <script type="text/javascript" src = "/javascripts/jquery.js"></script>
    <script type="text/javascript" src = "/javascripts/underscore.js"></script>
    <!-- // <script type="text/javascript" src = "/javascripts/headroom.min.js"></script> -->
    <script type="text/javascript">
        var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length) + '';
        var cmds = [];
        var table;

        $(document).ready(function() {

            table = $('#dtProcess').DataTable( {
                "paging":   false,
                "ordering": false,
                "info":     false,
                "searching":  false,
                "ajax": "../planList",
                "columns": [
                    { "data": "index" ,"width": "33%"},
                    { "data": "name" ,"width": "33%"},
                    { "data": "quantity" ,"width": "33%"},
                    // { "data": "" },
                ]
            } );

            $('#dtProcess tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            } );
            
            table.on('draw', function(){
                // return;
                var rowsCount = table.rows()[0].length;
                for(var i = 0; i< rowsCount; i++){
                    var data = table.row().nodes().data()[i];
                    console.dir(data);
                    if(data.complted == true){
                        $(table.row(i).node()).addClass('highlight');
                    }
                    // console.log(data.deviceID);
                    // if(data.deviceID == 'btn001'){

                    //   $(table.cell(i,2).node()).addClass( 'highlight' );
                    // }
                  // $( table.row(0).node()).addClass( 'highlight' );
                }
                // $( table.column(2).nodes() ).addClass( 'highlight' );
                // $(table.cell(1,1).node()).addClass( 'highlight' );
            })


            $("#checkAutoPlan").change(checkboxChange);

            createWebSocket();
            updateSaying();
            setInterval(updateSaying, 30 * 1000);

        });
        function openAboutWindow(){
          $('#modalAbout').modal();
        }    
        function updateSaying(){
            $.get('../getRandomSaying', function(_data){
                var saying = JSON.parse(_data);
                $('#sayingContent').text(saying.content);
                $('#sayingAuthor').text(saying.author);
            })
        }        
        function checkboxChange(){
            var b = $("#checkAutoPlan").prop('checked');
            if(b == true){
                console.log('checked');
                // $.get('../enableAutoPlan', function(){

                // })
                showPlanAutoSettingIndex();
            }else{
                console.log('not checked');
                $.get('../disableAutoPlan', function(data){
                    data = JSON.parse(data);
                    if(data.code == 0){
                        // $("#checkAutoPlan").change(null);
                        // $("#checkAutoPlan").change(checkboxChange);
                    }else{
                      $("#checkAutoPlan").prop('checked', true);
                      layer.alert(data.message);
                    }
                })
            }          
        }
        function showPlanAutoSettingIndex(){
          $.layer({
              type: 2,
              maxmin: false,
              shadeClose: false,
              title: '',
              shade: [0.0,'#fff'],
              offset: ['20px',''],
              area: ['800px', ($(window).height() - 150) +'px'],
              iframe: {src: '../planAutoSettingIndex'},
              close: function(){
                // table.ajax.reload();
                $.get('../enableAutoPlan', function(data){
                    data = JSON.parse(data);
                    if(data.code == 0){

                    }else{
                      $("#checkAutoPlan").prop('checked', false);
                      // $("#checkAutoPlan").prop('checked', 'false');
                      layer.alert(data.message);
                    }
                })
              }
          });  
        }
        function showAddPlanIndex(){
          $.layer({
              type: 2,
              maxmin: false,
              shadeClose: false,
              title: '',
              shade: [0.0,'#fff'],
              offset: ['20px',''],
              area: ['800px', ($(window).height() - 150) +'px'],
              iframe: {src: '../addPlanIndex'},
              close: function(){
                table.ajax.reload();
              }
          });          
        }
        function deleteRow(){
          var selectedIndex = table.row('.selected')[0];
          if(_.size(selectedIndex)  > 0){
              var obj = table.data()[selectedIndex[0]];
              if(obj.index == null || obj.index.length <= 0 || obj.index == "总计") return;
              $.post('../deletePlan', obj, function(data){
                data = JSON.parse(data);
                if(data.code == 0){
                  layer.alert('已经成功删除！', 1);
                  table.ajax.reload();
                  return;
                }else if(data.code == 1){
                  layer.alert(data.message);
                  return;
                }
              })            
          }

        }
        function createWebSocket() {
            websocket = new WebSocket(wsUri);
            websocket.onopen = function (evt) { onOpen(evt) };
            websocket.onclose = function (evt) { onClose(evt) };
            websocket.onmessage = function (evt) { onMessage(evt) };
            websocket.onerror = function (evt) { onError(evt) };
        }
        function onMessage(evt) {
            var _cmd = JSON.parse(evt.data);
            console.log(_cmd);
            if(_cmd.cmd == 'reload'){
              table.ajax.reload();
              console.log(_cmd.message);
              showMessage(_cmd.message);
            }else{
              console.log(_cmd.message);
              showMessage(_cmd.message);
            }
        }   
        function onOpen(evt) {
          console.log('websocket open');
          websocket.send('');
        }
        function onClose(evt) {
          console.warn('websocket closed');
        }
        function onError(evt) {
          console.error('websocket error');
        }            
        function hideTip(){
            $('#lblTip').css('display', 'none');
            $('#lblTableTitleText').css('margin-top', '40px');
        }
        function showMessage(_msg){
          if(_msg != null && _msg.length > 0){
              var ele = 
                '<div class="alert alert-success alert-dismissible" role="alert" >'+
                    '<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>'+
                    '<div> '+ _msg +'</div>'+
                '</div>';
              $('#messageContainer').append(ele);            
          }

        }
    </script>
  </head>
  <body>
    <div id = "divNav">
        <div class="container">
            <div class="row"  id = "">
                <div class="col-xs-1 col-sm-1 col-md-1 col-md-lg-1">

                    <img id="imglogo" src="/images/logo3.png">
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-md-lg-11">
                    <div style="margin-top: 48px; ">

                          <a class= "navFunc" style="right:525px;">教程 </a>
                          <a class= "navFunc" style="right:470px;"  href="/orderConfigIndex" target="_blank">订单 </a>
                          <a class= "navFunc " style="right:415px;" href="/processConfigIndex" target="_blank">流程 </a>
                          <a class= "navFunc " style="right:360px;color: rgb(100,100,100);" href="/planConfigIndex" target="_blank">计划 </a>
                          <a class= "navFunc" style="right:240px;"  href="/barchartsIndex" target="_blank">实时时长统计 </a>
                          <a class= "navFunc" style="right:120px;"  href="/piechartsIndex" target="_blank">实时比重统计 </a>
                          <a class= "navFunc" style="right:70px;">导出 </a>
                          <!-- <a class= "navFunc" style="right:20px;" onclick = "showMessage()">关于 </a> -->
                          <a class= "navFunc" style="right:20px;" onclick = "openAboutWindow()">关于 </a>
                     </div>
                </div>
            </div>
        </div>
    </div>

    <div class="demo-panel-title"> 
        <!-- <h3  style="text-align:center;font-size:20px;color: white;margin-bottom: 10px;"></h3> -->
        <div class = "container">
            <div class="row" style="margin-top:20px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12">
                    <div id= "sayingContent" style=""> </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12">
                    <div id="sayingAuthor" style=""></div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- <div id="lblTip" style="">设备发生变化，检查设备或者重新配置</div> -->
    <div id="lblTableTitleText" style=""> 设计生产计划 </div>
    <div class="container">
      <div class="row"  id = "row_container">

        
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12">
          <table id="dtProcess" class="display" cellspacing="0" width="100%" >
              <thead>
                  <tr>
                      <th>编号</th>
                      <th>产品名称</th>
                      <th>生产数量</th>
                      <!-- <th>备注</th> -->
                  </tr>
              </thead>
          </table>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12" style="margin-top: 50px;text-align:center;">
            <button type="button" class="btn btn-default btn-sm" onclick= "showAddPlanIndex()">添加</button>
            <button type="button" class="btn btn-default btn-sm" onclick = "deleteRow()">删除</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12" style="margin-top: 15px;text-align:center;">
            <!-- <button type="button" class="btn btn-default btn-sm" onclick = "showOrderAutoIndex()">自动生成</button> -->
            <label>
              <input type="checkbox" name="checkbox"  id="checkAutoPlan">
              根据订单自动生成
            </label>


        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-md-lg-12" style="margin-top: 15px;text-align:center;" id="messageContainer">


        </div>
      </div>
<!--       <div style="text-align:center;text-align: center; border-top-style: solid; border-top-width: 1px; padding-top: 20px; border-top-color: rgba(128,128,128,0.3); padding-bottom: 20px;"> 
        <button type="button" class="btn btn-danger btn-lg" style="" onclick = "resetDeviceConfig()">重新配置所有设备
        </button>
      </div>
 -->    
    </div>
<!--    <div class="container" style="margin-left: 0px; margin-right: 0px; max-width: 100%; background-color: rgb(240,240,240); max-width: 100%; height: 60px;position: fixed; width: 100%; bottom: 0px;">
      <div class="row"  id = "row_container">
            <div class="col-xs-3 col-sm-3 col-md-3 col-md-lg-3" style=""> </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-md-lg-6" style="text-align: center; font-size: 15px; margin-bottom: 0px; margin-top: 20px; color: rgb(180,180,180);">
              北京精益生产科技发展有限公司
          </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-md-lg-3" style=""> </div>
        
      </div>
    </div>  -->
    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/layer/layer.min.js"></script>
    <script src="/dataTable/jquery.dataTables.js"></script>
      <!-- Modal -->
      <div class="modal fade" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(50,50,50); color: white;">
              <button type="button" class="close" data-dismiss="modal"><!-- <span aria-hidden="true">&times;</span> --><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">关于</h4>
            </div>
            <div class="modal-body">
              <div style="text-align: center; font-size: 19px; margin-top: 20px;">
                精益生产沙盘V0.8
              </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>    
  </body>
</html>
