#divNav{
	height: 60px;
	background: rgb(24,25,29);
}
#imglogo{
	/*width: 36px;*/
	margin-top: 10px;
	margin-left: 5px;
	height: 38px;
}
.navFunc{
	color: rgb(170,170,170);margin-top: -30px; font-size: 16px;position: absolute;cursor: pointer;
}
#divNav a:hover 
{ 
	/*font-size:16px; */
	/*font-weight:bold; */
	color:#FFffff; 
	text-decoration:none; 
}
.demo-panel-title{
	height: 140px;
	padding-top: 10px;
	background: #c5c4c0 url("/images/banner_bg.jpg") center top no-repeat fixed;
}
#lblTableTitleText{
	text-align:center;font-size:21px;color: rgb(150,150,150);margin-top: 20px; margin-bottom: 0px;border-bottom-style: solid; border-bottom-color: rgba(128,128,128,0.08); border-bottom-width: 1px; padding-bottom: 10px;
}
#sayingContent{
	text-align:left;font-size:23px;color: white;
}
#sayingAuthor{
	text-align:right;font-size:16px;color: white;margin-right:10px;margin-top: 10px;
}